<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
	<link rel="stylesheet" href="__PUBLIC__/css/style.css">
	<title>抢红包好礼送不停</title>
</head>
<body>
<section class="top_section">
	<img src="__PUBLIC__/images/top.png" alt="" width="100%">
	<a href="/home/index/rob_package/openid/{$map.openid}/sign/{$map.sign}"><img class="btn" src="__PUBLIC__/images/btn.png" alt="" width="80%"></a>
</section>
<section>
	<img src="__PUBLIC__/images/bottom.png" alt="" width="100%">
</section>
</body>
</html>