<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
	<link rel="stylesheet" href="__PUBLIC__/css/style.css">
	<title>排行榜</title>
</head>
<body bgcolor="#eee">
	<section>
		<img src="__PUBLIC__/images/ranking.jpg" alt="排行榜" width="100%">
	</section>
	<section>
		<div class="ranking_title">
			<span class="display_inline ranking_index text_align">排行</span
			><span class="display_inline ranking_name text_align">昵称</span
			><span class="display_inline ranking_num text_align">邀请人数</span>
		</div>
		<div class="ranking_list">
			<span class="display_inline ranking_index text_align">
				<img src="__PUBLIC__/images/btn.png" alt="" width="15" height="15">
			</span
			><span class="display_inline ranking_name">
				<img class="user_logo border_radius100" src="__PUBLIC__/images/top.png" alt="" width="30" height="30">
				<span class="user_name">大虾大大虾啦啦啦</span>
			</span
			><span class="display_inline ranking_num text_align">
				55555444
			</span>
		</div>
		<div class="ranking_list">
			<span class="display_inline ranking_index text_align">
				<img src="__PUBLIC__/images/btn.png" alt="" width="15" height="15">
			</span
			><span class="display_inline ranking_name">
				<img class="user_logo border_radius100" src="__PUBLIC__/images/top.png" alt="" width="30" height="30">
				<span class="user_name">大虾大虾</span>
			</span
			><span class="display_inline ranking_num text_align">
				55555
			</span>
		</div>
		<div class="ranking_list">
			<span class="display_inline ranking_index text_align">
				<img src="__PUBLIC__/images/btn.png" alt="" width="15" height="15">
			</span
			><span class="display_inline ranking_name">
				<img class="user_logo border_radius100" src="__PUBLIC__/images/top.png" alt="" width="30" height="30">
				<span class="user_name">大虾</span>
			</span
			><span class="display_inline ranking_num text_align">
				5
			</span>
		</div>
		<div class="ranking_list">
			<span class="display_inline ranking_index text_align">
				<img src="__PUBLIC__/images/btn.png" alt="" width="15" height="15">
			</span
			><span class="display_inline ranking_name">
				<img class="user_logo border_radius100" src="__PUBLIC__/images/top.png" alt="" width="30" height="30">
				<span class="user_name"></span>
			</span
			><span class="display_inline ranking_num text_align">
				5
			</span>
		</div>
	</section>
</body>
</html>