<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
	<link rel="stylesheet" href="__PUBLIC__/css/style.css">
	<title>抢红包</title>
</head>
<body bgcolor="#fdd43c">
	<section>
		<img src="__PUBLIC__/images/ranking.jpg" alt="排行榜" width="100%">
	</section>
	<section>
		<div class="user_box clearfloat">
			<img class="float_left customer_logo" src="{$map.headimgurl}" alt="" width="50" height="50">
			<div class="float_left user_information">
				<p class="custom_name font15">{$map.nickname}</p>
				<img class="float_left right_jian_head" src="__PUBLIC__/images/top.png" alt="" width="10" height="10">
				<div class="float_left cuotomer_content">我刚刚签到了{$map.first_rob}元的优惠券，挤满100升就送你ipad,凯利莱和我一起行动吧，你不会后悔的</div>
			</div>
		</div>
	</section>
	<section>
		<p class="rob_result font15">
			<if condition="$status eq 1">
				你已经抢到<span class="font25">{$map.total_rob}</span>元，还差<span class="font25">{$map.value}</span>元就可以兑现啦！
			<else/>
			TA已经抢到
			<span class="font25">{$map.total_rob}</span>
			元
			</if>
		</p>
		<if condition="$exchange eq 1">
		<p class="rob_result font15">
			<a href="">兑换</a>
		</p>
		</if>
		<if condition="$status neq 1">
		<?php if($map['st'] != 1){ ?>
		<a href="/home/index/dorob/openid/<?php echo $_GET['openid']?>"><div class="font15 rob_btn">轻轻一点，帮Ta抢红包</div></a>
		<?php } ?>
		
		<?php if($map['sta'] != 1){ ?>
		<a href="/home/index/index/openid/<?php echo $_SESSION['me']['weixin']['openid']?>"><div class="font15 rob_btn mar_top10">我也要抢</div></a>
		<?php } ?>
		</if>
	</section>
	<section>
		<p class="clearfloat mar_top30">
			<span class="font15 firend_num">已有<span>{$map.friend}</span>位好友帮TA加油</span>
			<span class="ranking_people font14"><a href="/home/Index/ranking_list">加油人气榜>></a></span>
		</p>
		<!-- 无粉丝 -->
		<div class="font14 no_people">暂无粉丝</div>
		<!-- 有粉丝 -->
		<div class="have_people">
			<volist id="vo" name="roblist">
			<div class="people_list clearfloat">
				<img class="float_left border_radius100" src="{$vo.headimgurl}" alt="" width="50" height="50">
				<div class="float_left rob_content">
					<p>
						<span class="help_rob font14">{$vo.username}帮Ta抢了<span>{$vo.rob_price}</span>元红包</span>
						<span class="rob_time font14">{$vo.time}</span>
					</p>
					<p>你正好帮我抢了这么多钱吼吼</p>
				</div>
			</div>
			</volist>
		</div>
		<p class="clearfloat mar_btom30">
			<span class="ranking_people font14"><a href="/home/index/rules">查看活动规则>></a></span>
		</p>
	</section>
</body>
</html>