<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
	<link rel="stylesheet" href="__PUBLIC__/css/style.css">
	<title>抢红包</title>
</head>
<body bgcolor="#fdd43c">
	<section>
		<img src="__PUBLIC__/images/ranking.jpg" alt="排行榜" width="100%">
	</section>
	<section>
		<div class="user_box clearfloat">
			<img class="float_left customer_logo" src="__PUBLIC__/images/top.png" alt="" width="50" height="50">
			<div class="float_left user_information">
				<p class="custom_name font15">用户名。。。。。</p>
				<img class="float_left right_jian_head" src="__PUBLIC__/images/top.png" alt="" width="10" height="10">
				<div class="float_left cuotomer_content">我刚刚签到了100元的优惠券，挤满100升就送你ipad,凯利莱和我一起行动吧，你不会后悔的</div>
			</div>
		</div>
	</section>
	<section>
		<p class="rob_result font15">
			他已经抢到
			<span class="font25">1.5</span>
			万元
		</p>
		<div class="font15 rob_btn">轻轻一点，帮Ta抢红包</div>
		<div class="font15 rob_btn mar_top10">我也要抢</div>
	</section>
	<section>
		<p class="clearfloat mar_top30">
			<span class="font15 firend_num">已有<span>0</span>位好友帮我加油</span>
			<span class="ranking_people font14">加油人气榜>></span>
		</p>
		<!-- 无粉丝 -->
		<div class="font14 no_people">暂无粉丝</div>
		<!-- 有粉丝 -->
		<div class="have_people">
			<div class="people_list clearfloat">
				<img class="float_left border_radius100" src="__PUBLIC__/images/top.png" alt="" width="50" height="50">
				<div class="float_left rob_content">
					<p>
						<span class="help_rob font14">忘忧草帮Ta抢了忧草帮Ta抢了忧草帮Ta抢了<span>1.8</span>元红包</span>
						<span class="rob_time font14">15分钟前</span>
					</p>
					<p>你正好帮我抢了这么多钱吼吼</p>
				</div>
			</div>
			<div class="people_list clearfloat">
				<img class="float_left border_radius100" src="__PUBLIC__/images/top.png" alt="" width="50" height="50">
				<div class="float_left rob_content">
					<p>
						<span class="help_rob font14">忘忧草帮Ta抢了<span>1.8</span>元红包</span>
						<span class="rob_time font14">15分钟前</span>
					</p>
					<p>你正好帮我抢了忧草帮Ta抢了忧草帮Ta抢了这么多钱吼吼</p>
				</div>
			</div>
			<div class="people_list clearfloat">
				<img class="float_left border_radius100" src="__PUBLIC__/images/top.png" alt="" width="50" height="50">
				<div class="float_left rob_content">
					<p>
						<span class="help_rob font14">忘忧草帮Ta抢了<span>1.8</span>元红包</span>
						<span class="rob_time font14">15分钟前</span>
					</p>
					<p>你正好帮我抢了这么多钱吼吼</p>
				</div>
			</div>
		</div>
		<p class="clearfloat mar_btom30">
			<span class="ranking_people font14">查看活动规则>></span>
		</p>
	</section>
</body>
</html>